# ***ECO482 Group Project: An American Disaster Story: Predicting the Economic Damage Inflicted by Tornadosâ€‹***

In [1]:
#mounting/loading google drive (working on google colab)
from google.colab import drive
drive.mount('/content/drive')

#loading useful packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os

Mounted at /content/drive

In [2]:
# Step 2: Define the folder path (ensure correctness)
folder_path = "/content/drive/My Drive/GDToT/ECO482_Project/Data"

# Step 3: Use glob to get all CSV file paths
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))  # Assumes all files end in .csv

# Step 4: Load and concatenate all CSVs
df_list = [pd.read_csv(file) for file in csv_files]  # Read each CSV into a list
storm_data = pd.concat(df_list, ignore_index=True)  # Combine into one DataFrame


# Optionally, show first few rows
storm_data.head()

<ipython-input-2-effb9a252c8d>:8: DtypeWarning: Columns (29,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(file) for file in csv_files]  # Read each CSV into a list
<ipython-input-2-effb9a252c8d>:8: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(file) for file in csv_files]  # Read each CSV into a list
<ipython-input-2-effb9a252c8d>:8: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(file) for file in csv_files]  # Read each CSV into a list
<ipython-input-2-effb9a252c8d>:8: DtypeWarning: Columns (26,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(file) for file in csv_files]  # Read each CSV into a list
<ipython-input-2-effb9a252c8d>:8: DtypeWarning: Columns (26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(file) for file in csv_files]  # Read each CSV into a list

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,202405,23,1947,202405,23,1947,190907.0,1180619,OKLAHOMA,40.0,...,4.0,S,FRIENDSHIP,34.6380,-99.2167,34.6380,-99.2167,Two primary rounds of severe convection occurr...,MPing report.,CSV
1,202411,16,230,202411,18,1421,197838.0,1223377,OREGON,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A series of cold fronts the weekend of Nov. 16...,The Hog Pass SNOTEL reported an estimated 12 i...,CSV
2,202405,19,1839,202405,19,1902,190905.0,1184919,OKLAHOMA,40.0,...,5.0,N,CUSTER CITY,35.7100,-99.0010,35.7370,-98.8910,Significant severe weather occurred across por...,While the large multiple-vortex tornado was ap...,CSV
3,202405,23,2155,202405,23,2155,190907.0,1180805,OKLAHOMA,40.0,...,2.0,W,NINNEKAH,34.9501,-97.9523,34.9501,-97.9523,Two primary rounds of severe convection occurr...,Relayed image showing a portable outbuilding b...,CSV
4,202411,22,400,202411,22,1100,197326.0,1220680,NEW YORK,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,An occluded low pressure system brought heavy ...,A trained spotter reported 10.0 inches of wet ...,CSV

In [3]:
storm_data

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,202405,23,1947,202405,23,1947,190907.0,1180619,OKLAHOMA,40.0,...,4.0,S,FRIENDSHIP,34.6380,-99.2167,34.6380,-99.2167,Two primary rounds of severe convection occurr...,MPing report.,CSV
1,202411,16,230,202411,18,1421,197838.0,1223377,OREGON,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A series of cold fronts the weekend of Nov. 16...,The Hog Pass SNOTEL reported an estimated 12 i...,CSV
2,202405,19,1839,202405,19,1902,190905.0,1184919,OKLAHOMA,40.0,...,5.0,N,CUSTER CITY,35.7100,-99.0010,35.7370,-98.8910,Significant severe weather occurred across por...,While the large multiple-vortex tornado was ap...,CSV
3,202405,23,2155,202405,23,2155,190907.0,1180805,OKLAHOMA,40.0,...,2.0,W,NINNEKAH,34.9501,-97.9523,34.9501,-97.9523,Two primary rounds of severe convection occurr...,Relayed image showing a portable outbuilding b...,CSV
4,202411,22,400,202411,22,1100,197326.0,1220680,NEW YORK,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,An occluded low pressure system brought heavy ...,A trained spotter reported 10.0 inches of wet ...,CSV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1862526,198106,1,1710,198106,1,1710,NaN,10129236,TEXAS,48.0,...,0.0,NaN,NaN,34.6000,-100.6500,NaN,NaN,NaN,NaN,PUB
1862527,198106,1,1720,198106,1,1720,NaN,10129237,TEXAS,48.0,...,0.0,NaN,NaN,34.9000,-100.4200,NaN,NaN,NaN,NaN,PUB
1862528,198106,1,1730,198106,1,1730,NaN,10129238,TEXAS,48.0,...,0.0,NaN,NaN,34.8200,-100.0300,34.8200,-99.9300,NaN,NaN,PUB
1862529,198106,1,2040,198106,1,2040,NaN,10129239,TEXAS,48.0,...,0.0,NaN,NaN,34.1500,-99.2800,NaN,NaN,NaN,NaN,PUB
1862530,198106,1,2040,198106,1,2040,NaN,10129240,TEXAS,48.0,...,0.0,NaN,NaN,34.1500,-99.2800,NaN,NaN,NaN,NaN,PUB

In [4]:
storm_data.columns

Index(['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'STATE_FIPS',
       'YEAR', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME',
       'WFO', 'BEGIN_DATE_TIME', 'CZ_TIMEZONE', 'END_DATE_TIME',
       'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
       'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY', 'TOR_F_SCALE',
       'TOR_LENGTH', 'TOR_WIDTH', 'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE',
       'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH',
       'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON',
       'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'DATA_SOURCE'],
      dtype='object')

In [5]:
storm_data["DURATION"] = (storm_data["END_YEARMONTH"] - storm_data["BEGIN_YEARMONTH"])*30 + storm_data["END_DAY"] - storm_data["BEGIN_DAY"]
storm_data['COUNTY/PARISH'] = (storm_data['CZ_TYPE'] == "C").astype(int)
storm_data['MARINE_ZONE'] = (storm_data['CZ_TYPE'] == "M").astype(int)
storm_data['NWS_PUBLIC_FORECAST_ZONE'] = (storm_data['CZ_TYPE'] == "Z").astype(int)
storm_da['DAMAGE']

In [6]:
storm_data[['DURATION', 'TOR_F_SCALE', 'TOR_WIDTH', 'TOR_LENGTH', 'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT', 'DEATHS_INDIRECT']].describe()

,DURATION,TOR_WIDTH,TOR_LENGTH,BEGIN_YEARMONTH,END_YEARMONTH,COUNTY/PARISH,MARINE_ZONE,NWS_PUBLIC_FORECAST_ZONE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT
count,1.862531e+06,197939.000000,197939.000000,1.862531e+06,1.862531e+06,1.862531e+06,1.862531e+06,1.862531e+06,1.862531e+06,1.862531e+06,1.862531e+06,1.862531e+06
mean,1.578231e+00,39.588202,0.864149,2.009119e+05,2.009119e+05,6.299417e-01,4.033758e-03,3.660245e-01,5.809836e-02,8.264560e-03,1.057486e-02,2.247479e-03
std,1.530923e+01,145.939898,8.912679,1.003089e+03,1.003088e+03,4.828201e-01,6.338367e-02,4.817164e-01,2.621280e+00,1.866846e+00,5.704095e-01,9.445378e-02
min,0.000000e+00,0.000000,0.000000,1.980010e+05,1.980010e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000,0.000000,2.002050e+05,2.002050e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000,0.000000,2.010060e+05,2.010060e+05,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,20.000000,0.100000,2.018010e+05,2.018010e+05,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,3.002000e+03,4576.000000,2315.000000,2.024110e+05,2.024110e+05,1.000000e+00,1.000000e+00,1.000000e+00,1.150000e+03,2.400000e+03,6.380000e+02,5.600000e+01